/practica1/nbproject/private/
/practica1/build/
/PracticaPersonajes/nbproject/private/
/PracticaPersonajes/build/
/DivisibleApp/nbproject/private/
/DivisibleApp/build/
/PersonajesPractica/nbproject/private/
/PersonajesPractica/build/
/practica2/nbproject/private/
/practica2/build/
/Practica2/nbproject/private/
